@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    background-color: rgb(200, 200, 200);
    font: normal 20px 'Roboto', sans-serif
    }
a {
    color: black;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: rgb(42, 42, 42);
}
a:active {
    color: blue;
    font-size: 28px;
}
hr {
    width: 500px;
}
.top{
   background: rgb(170, 170, 170); 
   text-align: center;
   border-radius: 5px;
   padding-bottom: 18px;
   padding-top: 1px;
}
#flowers{
    width: 500px;
    border-radius: 50px;
    box-shadow: 8px 8px 16px rgb(52, 52, 52);
    margin-bottom: 20px;
}
.all{
   margin-right: 150px;
   margin-left: 150px;
   margin-bottom: 50px;
}
.skills {
    padding: 5px;
    background-color: rgb(189, 217, 208);
    border-radius: 20px;
}
.site {
    background-color:rgb(195, 195, 195);
    border-radius: 5px;
    padding: 2px;
    font-size: 24px;
}
.foto {
    background-color: rgb(230, 194, 194);
    border-radius: 20px;
    padding: 2px;
    font-size: 24px;
    text-align: center;
}
.social {
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(185, 208, 244);
}
#soc1 {
    text-align: center;
    font-size: 30px;
}
#soc2 {
    text-align: center;
    font-size: 20px;
a:active {
    color: blue;
    font-size: 18px;
}
}
#button {
    font-size: 30px;
}
#comeback {
    font-size: 30px;

 a:active {
    color: blue;
    font-size: 28px;
 }
}